.gsc-control-cse .gsc-table-result {
	font-family : inherit;
}

.gsc-control-cse .gsc-input-box {
	height : inherit;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button, input.gsc-search-button-v2 {
	box-sizing  : content-box;
	line-height : normal;
	margin-top  : 0px;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #566879;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 16%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 16%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 16%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 16%;
        float: left;
    }
}

.carousel-inner {
	margin-left : 20px;
}

.snippet {
	height : 20px;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    height: 100px;
}

.carousel-control {
	width : 5%;
}

.thumbnail {
	margin-top : 19px;
	margin-bottom : 0px;
}

.glyphicon {
	margin-bottom : 20px;
}

.well {
	padding-top : 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
	margin-top: 20px;
}

.popov {
	float: right;
}

.lastPopov {
	float: right;
}

.table {
	margin-bottom : 0px;
}