*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*



#metadata
.metadata/*

#recommenders
.recommenders/*
IHM/RestIf/app/.idea/compiler.xml
IHM/RestIf/app/.idea/gradle.xml
IHM/RestIf/app/local.properties
IHM/RestIf/app/.idea/misc.xml
IHM/RestIf/app/.idea/copyright/profiles_settings.xml
IHM/RestIf/app/.idea/workspace.xml
IHM/RestIf/app/gradle/wrapper/gradle-wrapper.properties
IHM/RestIf/app/gradlew
IHM/RestIf/app/gradlew.bat
IHM/RestIf/app/.idea/modules.xml
IHM/RestIf/app/.idea/runConfigurations.xml
IHM/.idea/*
IHM/RestIf/.idea/*
IHM/RestIf/app/.idea/*
web-semantique/.project
web-semantique/.settings/org.eclipse.jdt.core.prefs
web-semantique/.settings/org.eclipse.m2e.core.prefs
web-semantique/src/errors.txt
web-semantique/src/thumbnail.txt
web-semantique/.classpath
IHM/RestIf/.idea/compiler.xml
prologue/src/sportif.html
IHM/RestIf/.idea/runConfigurations.xml
IHM/RestIf/.idea/gradle.xml
IHM/RestIf/.idea/compiler.xml
