*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*



#metadata
.metadata/*

#recommenders
.recommenders/*
IHM/RestIf/app/.idea/compiler.xml
IHM/RestIf/app/.idea/gradle.xml
IHM/RestIf/app/local.properties
IHM/RestIf/app/.idea/misc.xml
IHM/RestIf/app/.idea/copyright/profiles_settings.xml
IHM/RestIf/app/.idea/workspace.xml
IHM/RestIf/app/gradle/wrapper/gradle-wrapper.properties
IHM/RestIf/app/gradlew
IHM/RestIf/app/gradlew.bat
IHM/RestIf/app/.idea/modules.xml
IHM/RestIf/app/.idea/runConfigurations.xml
