body
{
    background-color: #F9FAFA;
}

#partDashboard{
	text-align:center;
	vertical-align:top;
}

#partButtons{
	vertical-align:top;
}
.align {
	display:inline-block;
}

#dashboard {
	border: 1px solid black;
	border-collapse : collapse;
	min-width: 10px;
	height: 10px;
}
#dashboard tr {
	border: 1px solid black;
	min-width: 10px;
	height: 10px;
}

#dashboard tr td  {
	border: 1px solid black;
	min-width: 10px;
	height: 10px;
	padding: 10px 10px 10px 10px;
}

#dashboard tr th {
	border: 1px solid black;
	min-width: 10px;
	height: 10px;
	padding: 10px 10px 10px 10px;
}

#terrain {
	background-color: #C6FEBF;
	border : 1px solid black;
	border-collapse : collapse;
	margin-left: auto;
    margin-right: auto;
}
#terrain tr {

}

#terrain tr td {
	width: 30px;
	height: 30px;
}
